* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgba(0, 0, 46);
}

.Login {
    width: 500px;
    height: 500px;
    background-color: red;
}

.Login form {
    width: 500px;
    height: 500px;
    background-color: blue;
}